# VARIABLES À COPIER DANS VERCEL SETTINGS

# Backend
MONGO_URI=mongodb+srv://admin_service_pu:VOTRE_MOT_DE_PASSE@cluster0.xxxxx.mongodb.net/service-pu?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkey2026servicespublics
NODE_ENV=production
CLIENT_URL=https://service-pu.vercel.app

# Frontend
VITE_API_URL=/api
